<template>
  <div class="add-task-form">
    <input v-model="title" type="text" placeholder="Title">
    <input v-model="description" type="text" placeholder="Description">
    <select v-model="selected">
      <option disabled>Select category</option>
      <option v-for="(item, index) in categories" :key="index">{{item.title}}</option>
    </select>
    <button @click="addTask">Add task</button>
    <div v-if="error">
      ERROR
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      description: '',
      title: '',
      categories: [],
      selected: '',
      error: false
    }
  },
  created() {
    this.categories = this.$store.getters.getCategories
  },
  methods:{
    addTask: function() {
      if(this.title != '' && this.description != '' && this.categories.length > 0 && this.selected != ''){
        let min=10;
        let max=1000000;
        let random = Math.floor(Math.random() * (+max - +min)) + +min;

        let category = this.$store.getters.getCategoryIdbyTitle(this.selected)
        let task = {
          description: this.description,
          title: this.title,
          category: category.id,
          id: random
        }
        this.$store.dispatch('addTask', task);
        this.title = ''
        this.description = ''
        this.selected= ''
        this.error = false
      }else{
        this.error = true
      }
    }
  }
}
</script>