<template>
  <div class="about">
    <div class="container">
      <div class="category-title">
        <h1>{{categoryId.title}}</h1>
      </div>
      <div v-if="taskLenght > 0" class="task-list">
          <TaskItem
            v-for="(task, index) in getTasks" :key="index"
            :task="task"
           />
      </div>
      <div v-else>
        There are no tasks
        <router-link tag="a" to="/addtask">
          <a class="add-task-link">
            Add task
          </a>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import TaskItem from '@/components/TaskItem.vue'
export default {
  data() {
    return{

    }
  },
  components: {
    TaskItem
  },
  computed: {
    categoryId() {
      return this.$store.getters.getCategoryIdbySlug(this.$route.params.category)
    },
    getTasks() {
      return this.$store.getters.getTasks(this.categoryId.id)
    },
    taskLenght() {
      return this.$store.getters.getTasksLength(this.categoryId.id)
    }
  }
}
</script>
<style lang="scss">
.category-title{
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  h1{
    font-size: 20px;
  }
}
.add-task-link{
  color: blue;
  text-decoration: underline;
}
</style>
