<template>
  <div class="home">
   <div class="category-list">
      <CategoryItem
        v-for="(category, index) in categories" :key="index" 
        :category="category"
      />
   </div>
   <div class="exchange rate">
     <div class="btn-exchange">
       <button @click="exchange">Show exchange rate</button>
     </div>
     <div v-if="this.info != ''" class="exchange-tabl-header">
      <div class="ccy">CCY</div>
      <div class="base-ccy">BASE CCY</div>
      <div class="buy">BUY</div>
      <div class="sale">SALE</div>
     </div>
     <div v-for="(rate, index) in info" :key="index" class="exchange-table">
       <div class="ccy">{{rate.ccy}}</div>
       <div class="base-ccy">{{rate.base_ccy}}</div>
       <div class="buy">{{rate.buy}}</div>
       <div class="sale">{{rate.sale}}</div>
     </div>
   </div>
  </div>
</template>

<script>
const axios = require('axios');

import CategoryItem from '@/components/CategoryItem.vue'
export default {
  name: 'home',
  components: {
    CategoryItem
  },
  data() {
    return {
      categories: [],
      info: ''
    }
  },
  created() {
    this.categories = this.$store.getters.getCategories
  },
  methods: {
    exchange: function(){
      axios
      .get('https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11')
      .then(response => (this.info = response.data));
    }
  }
}
</script>


<style lang="scss">
.category-list{
  display: flex;
}

.exchange-tabl-header{
  display: flex;
  background: #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  div{
    width: 25%;
  }
}

.exchange-table{
  display: flex;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #eee;
  div{
    width: 25%;
  }
}
</style>
