<template>
  <div @click="categodyPush(category.slug)" class="category-item">
    {{category.title}}
  </div>
</template>

<script>
export default {
  name: 'CategoryItem',
  props: {
    category: {
      type: Object
    }
  },
  methods: {
    categodyPush: function(slug){
      this.$router.push({ name: 'category', params: { category: slug} })
    }
  }
}
</script>

<style lang="scss">
.category-item{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: lightblue;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  &:hover{
    opacity: 0.7;
  }
}
</style>
