<template>
  <div>
    <header>
      <div class="container">
        <div class="dflex">
          <div class="logo">
            <router-link tag="a" to="/">
              <a class="link-logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 349.158 349.158" style="enable-background:new 0 0 349.158 349.158;" xml:space="preserve" width="512" height="512" class=""><g><g>
                  <g>
                    <path d="M341.658,6.227H83.455c-4.143,0-7.5,3.357-7.5,7.5V162.83H7.5c-4.143,0-7.5,3.357-7.5,7.5v127.123    c0,25.076,20.4,45.479,45.477,45.479c0.646,0,258.203,0,258.203,0c25.076,0,45.479-20.402,45.479-45.479V13.727    C349.158,9.584,345.801,6.227,341.658,6.227z M15,297.453V177.83h60.955v119.623c0,16.805-13.672,30.479-30.479,30.479    C28.672,327.932,15,314.258,15,297.453z M334.158,297.453c0,16.805-13.672,30.479-30.479,30.479H79.203    c7.299-8.07,11.752-18.766,11.752-30.479V21.227h243.203V297.453z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M202.023,92.855h96.127c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5h-96.127c-4.143,0-7.5,3.357-7.5,7.5    C194.523,89.498,197.881,92.855,202.023,92.855z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M202.023,175.248h96.127c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5h-96.127c-4.143,0-7.5,3.357-7.5,7.5    C194.523,171.891,197.881,175.248,202.023,175.248z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M202.023,257.643h96.127c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5h-96.127c-4.143,0-7.5,3.357-7.5,7.5    C194.523,254.285,197.881,257.643,202.023,257.643z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M132.814,101.295c1.418,1.5,3.391,2.35,5.453,2.35c0.02,0,0.041,0,0.063,0c2.086-0.018,4.07-0.902,5.477-2.443    l41.197-45.121c2.793-3.059,2.576-7.803-0.482-10.596c-3.059-2.791-7.803-2.576-10.596,0.482l-35.752,39.156l-11.129-11.785    c-2.846-3.012-7.594-3.146-10.604-0.303c-3.012,2.844-3.146,7.59-0.303,10.602L132.814,101.295z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M173.926,131.941l-35.752,39.154l-11.131-11.783c-2.844-3.014-7.592-3.148-10.602-0.303    c-3.012,2.844-3.146,7.59-0.303,10.602l16.676,17.656c1.418,1.5,3.391,2.35,5.453,2.35c0.02,0,0.041,0,0.063,0    c2.086-0.018,4.07-0.902,5.477-2.443l41.197-45.119c2.791-3.059,2.576-7.803-0.482-10.596S176.719,128.881,173.926,131.941z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                    <path d="M173.926,217.914l-35.752,39.154l-11.131-11.783c-2.844-3.014-7.592-3.149-10.602-0.303    c-3.012,2.844-3.146,7.59-0.303,10.602l16.676,17.656c1.418,1.5,3.391,2.35,5.453,2.35c0.02,0,0.041,0,0.063,0    c2.086-0.018,4.07-0.902,5.477-2.443l41.197-45.119c2.791-3.059,2.576-7.803-0.482-10.596    C181.463,214.639,176.719,214.855,173.926,217.914z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                  </g>
                  </g></g>
                </svg>
              </a>
            </router-link>
          </div>
          <div class="header-add-task">
          <router-link tag="a" to="/addtask">
            <a class="add-task-link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512" height="512" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve" class=""><g><g>
                <g id="add-circle-outline">
                  <path d="M280.5,127.5h-51v102h-102v51h102v102h51v-102h102v-51h-102V127.5z M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255    s255-114.75,255-255S395.25,0,255,0z M255,459c-112.2,0-204-91.8-204-204S142.8,51,255,51s204,91.8,204,204S367.2,459,255,459z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                </g>
              </g></g> 
              </svg>
            </a>
          </router-link>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style scoped lang="scss">

header{
 background: #111111;
 .dflex{
   height: 55px;
   align-items: center;
   justify-content: space-between;
   .logo{
     .link-logo{
       color: #fff;
       svg{
         width: 20px;
         height: 20px;
       }
     }
   }
   .header-add-task{
     .add-task-link{
       color: #fff;
       svg{
         width: 20px;
         height: 20px;
       }
     }
   }
 }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
