<template>
  <div class="task">
    <div class="task-title">
      {{task.title}}
    </div>
    <div class="task-description">
      {{task.description}}
    </div>
    <div class="delete-task">
      <button @click="deleteTask(task.id)">
        DELETE
      </button>
    </div>
    <div class="chengeTask">
      <button @click="showHideSchenge">Chenge</button>
      <div v-if="edit" class="edit-task">
        <select v-model="selected">
          <option disabled>Select category</option>
          <option v-for="(item, index) in categories" :key="index">{{item.title}}</option>
        </select>
        <button @click="saveEdit(task.id)">Save</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Task',
  props: {
    task: {
      type: Object
    }
  },
  data(){
    return{
      edit:false,
      categories: [],
      selected: ''
    }
  },
  created() {
    this.categories = this.$store.getters.getCategories
  },
  methods: {
    deleteTask: function(id){
      this.$store.dispatch('deleteTask', id)
    },
    showHideSchenge: function(){
      this.edit = !this.edit
    },
    saveEdit: function(id){
      if(this.selected != ''){
        // console.log(id, this.selected)
        let category = this.$store.getters.getCategoryIdbyTitle(this.selected)
        // console.log(category.id)
        let task = {
          id: id,
          category: category.id
        }
        this.$store.dispatch('editTask', task)
      }
      
    }
  }
}
</script>

<style lang="scss">
.task{
  width: 20%;
  margin: 10px;
  background: lightblue;
  border-radius: 10px;
  padding: 10px;
  .task-title{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
  .delete-task{
    margin: 7px;
  }
}
</style>

